*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(236, 236, 236);
}

.selects{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

select{
    width: 500px;
    border: none;
    background-color: cornflowerblue;
    height: 50px;
    border-radius: 8px;
    color: white;
}

span{
    color: cornflowerblue;
    font-weight: bold;
    font-size: 1.5rem;
}
